* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-weight: 400;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #35b8be;
  height: 48px;
}
header p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}
header p a {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);

  text-decoration: none;
}
.desktop-nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.desktop-nav img {
  width: 40px;
}
.desktop-nav .navbar-links {
  display: flex;
  gap: 25px;
  padding-right: 40px;
}
.desktop-nav .navbar-links a {
  text-decoration: none;
  color: #28224b;
  font-size: 16px;
  transition: all 0.3s ease;
}
.desktop-nav .navbar-links a:hover {
  color: #35b8be;
}
.mobile-nav {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.mobile-nav img {
  width: 40px;
}
.mobile-nav i {
  font-size: 30px;
}
.first-page {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
  background-image: url("./images/Ekran\ şəkli\ 2024-05-04\ 235642.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.bg-1 {
  position: absolute;
  z-index: -1;
}
.hero-content .left-part {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
h1 {
  font-size: 60px;
  color: #08090a;
  font-weight: 700;
  max-width: 580px;
}
h1 span {
  color: #35b8be;
}
.hero-content {
  display: flex;
  justify-content: space-between;
}
.hero-content .left-part .desktop-text {
  color: #546285;
  font-size: 18px;
  max-width: 500px;
}
.hero-content .left-part .mobile-text {
  display: none;
}
.hero-content .left-part button {
  padding: 20px 35px;
  font-size: 18px;
  text-align: center;
  background-color: #35b8be;
  border-radius: 6px;
  border: none;
  width: 200px;
  color: #fff;
  cursor: pointer;
}
.hero-content .left-part button:hover {
  background-color: #18767bb7;
}
.left-part .review-wrap {
  color: #08090a;
  font-size: 18px;
}
.left-part .review-wrap span {
  color: #35b8be;
}
.right-part {
  flex: 1;
}
.right-part img {
  width: 100%;
  height: 500px;
}
@media (max-width: 900px) {
  header p {
    font-size: 13px;
  }
  header p a {
    font-size: 13px;
  }

  .desktop-nav img {
    width: 35px;
  }

  .desktop-nav .navbar-links a {
    font-size: 13px;
  }

  h1 {
    font-size: 40px;
  }

  .hero-content .left-part .desktop-text {
    font-size: 14px;
  }
  .hero-content .left-part button {
    padding: 15px 20px;
    font-size: 14px;

    width: 150px;
  }

  .right-part img {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 600px) {
  header p {
    font-size: 13px;
  }
  header p a {
    font-size: 13px;
  }

  .desktop-nav img {
    width: 30px;
  }

  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }

  h1 {
    font-size: 35px;
  }

  .hero-content .left-part .desktop-text {
    display: none;
  }
  .hero-content .left-part .mobile-text {
    display: block;
    font-size: 13px;
  }
  .hero-content .left-part button {
    padding: 13px 15px;
    font-size: 12px;

    width: 150px;
  }

  .right-part img {
    width: 120%;
    height: 400px;
  }
  .left-part .review-wrap {
    font-size: 14px;
    width: 120px;
  }
}
@media (max-width: 400px) {
  header p {
    font-size: 10px;
  }
  header p a {
    font-size: 10px;
  }

  .desktop-nav img {
    width: 20px;
  }

  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
  }
  .mobile-nav i {
    font-size: 20px;
  }
  h1 {
    font-size: 20px;
  }
  .trustpilot {
    width: 100px;
    height: 20px;
    padding-right: 12px;
  }
  .hero-content .left-part {
    justify-content: space-between;
    padding: 0;
    gap: 15px;
  }
  .hero-content .left-part .desktop-text {
    display: none;
  }

  .hero-content .left-part .mobile-text {
    display: block;
    font-size: 10px;
  }
  .hero-content .left-part button {
    font-size: 12px;

    width: 120px;
  }

  .right-part img {
    width: 110%;
    height: 250px;
  }
  .left-part .review-wrap {
    font-size: 10px;
    width: 100px;
  }
}
.second-page {
  padding: 30px;
}

.second-page h2 {
  font-weight: 700;
  font-size: 55px;
  color: #35b8be;
  text-align: center;
  margin: auto;
}
.order-boxes {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  place-items: center;
}
.order-boxes img {
  width: 100%;
  height: auto;
}
.information-box{
  display: flex;
  flex-direction: column;
  gap:20px;
}
.information-box h5{
  font-size: 22px;
  color: #08090a;
  font-weight: 700;
  text-align: center;
}
.information-box p{
  color: #546285;
  font-size: 18px;
  text-align: center;
  width: 100%;
}